[Unit]
Description=CPU boot done service

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'cpu-boot-handler.sh boot-done'
ExecStart=busctl set-property xyz.openbmc_project.State.Host /xyz/openbmc_project/state/host0 xyz.openbmc_project.State.OperatingSystem.Status OperatingSystemState s "xyz.openbmc_project.State.OperatingSystem.Status.OSStatus.Standby"
