/dts-v1/;

#include "ast2600-u-boot.dtsi"

/ {
        model = "AST2600 GB200NVL PMC";
        compatible = "aspeed,ast2600-evb", "aspeed,ast2600";

	memory {
		device_type = "memory";
		reg = <0x80000000 0x40000000>;
	};

	chosen {
		stdout-path = &uart5;
	};

	aliases {
		mmc0 = &emmc_slot0;
		mmc1 = &sdhci_slot0;
		mmc2 = &sdhci_slot1;
		spi0 = &fmc;
		spi1 = &spi1;
		spi2 = &spi2;
		ethernet0 = &mac0;
		ethernet1 = &mac1;
		ethernet2 = &mac2;
		ethernet3 = &mac3;
	};

	cpus {
		cpu@0 {
			clock-frequency = <800000000>;
		};
		cpu@1 {
			clock-frequency = <800000000>;
		};
	};
};
&syscon {
    u-boot,dm-pre-reloc;
};
&pinctrl {
    u-boot,dm-pre-reloc;
};
&uart5 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&wdt1 {
        u-boot,dm-pre-reloc;
	status = "okay";
};

&wdt2 {
        u-boot,dm-pre-reloc;
	status = "okay";
};

&wdt3 {
        u-boot,dm-pre-reloc;
	status = "okay";
};

&fmc {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_fmcquad_default>;

	flash@0 {
		compatible = "spi-flash", "sst,w25q256";
		status = "okay";
		spi-max-frequency = <50000000>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
	};
        flash@1 {
            reg = <1>;
            compatible = "jedec,spi-nor";
            status = "okay";
            spi-max-frequency = <0x2faf080>;
            spi-tx-bus-width = <0x4>;
            spi-rx-bus-width = <0x4>;
        };
};


&scu {
	mac0-clk-delay = <0x1d 0x1c 0x10 0x17 0x10 0x17>;
	mac1-clk-delay = <0x1d 0x10 0x10 0x10 0x10 0x10>;
	mac2-clk-delay = <0xa 0x4 0x8 0x4 0x8 0x4>;
	mac3-clk-delay = <0xa 0x4 0x8 0x4 0x8 0x4 >;
};

&sdrammc {
        clock-frequency=<0x17d78400>;
};
