[Unit]
Description=NVIDIA HMC Write Protect Service
PartOf=global-wp-off.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'busctl set-property com.Nvidia.Software.MTD.Updater.pciechip /xyz/openbmc_project/software/other/HGX_PCIeSwitchConfig_0 xyz.openbmc_project.Software.Settings WriteProtected b false'
SyslogIdentifier=pcie-chip-write-protect-off

[Install]
WantedBy=global-wp-off.target
