[Unit]
Description=NVIDIA Platform Configuration Manager
After=xyz.openbmc_project.EntityManager.service xyz.openbmc_project.ObjectMapper.service xyz.openbmc_project.FruDevice.service

[Service]
Type=oneshot
SyslogIdentifier=nvidia-pcm
ExecStartPre=/bin/bash -c 'timeout 10s /usr/bin/env mapper wait /xyz/openbmc_project/inventory/system/bmc/HGX_BMC_0; exit 0'
ExecStartPre=/usr/bin/nvidia-pcm-pre.sh
ExecStart=/usr/bin/env pcmd -d /run/initramfs/ro/usr/share/nvidia-pcm/

[Install]
WantedBy=multi-user.target

