[Unit]
Description=GB200NVL HMC Not Ready Service
Requires=hmc-recovery.target
StartLimitIntervalSec=1

[Service]
Restart=no
Type=simple
ExecStart=/bin/echo "Starting HMC AP Recovery Target"
SyslogIdentifier=gb200nvl-hmc-notready