// SPDX-License-Identifier: GPL-2.0+
/dts-v1/;

#include "nvidia-gb200nvl-pmc-core.dtsi"
#include <dt-bindings/leds/common.h>

/ {
    model = "AST2600 GB200NVL PMC";
    compatible = "aspeed,ast2600";

	aliases {
		serial4 = &uart5;
	};

	chosen {
		stdout-path = &uart5;
		bootargs = "console=tty0 console=ttyS4,115200n8 earlyprintk vmalloc=400M";
	};

	memory@80000000 {
		reg = <0x80000000 0x80000000>;
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;
		ramoops@a0000000 {
			compatible = "ramoops";
			reg = <0xa0000000 0x100000>; /* 1MB */
			record-size = <0x10000>; /* 64KB */
			max-reason = <2>; /* KMSG_DUMP_OOPS */
		};
	};

};

// Enabled Primary flash on FMC for bring up activity
&fmc {
    status = "okay";
    flash@0 {
        m25p,fast-read;
        spi-rx-bus-width = <4>;
        spi-tx-bus-width = <4>;
        status = "okay";
        compatible = "jedec,spi-nor";
        label = "bmc";
        spi-max-frequency = <50000000>;
        size = <65536>;
#include "aspeed/aspeed-bmc-nvidia-gh-flash-layout-64.dtsi"
    };
};

&uart5 {
    // BMC Debug Console
    status = "okay";
};

// MAC1 (per schematics, 1-based MAC1-MAC4) of AST2600 connected to external PHY
// This is "mac0" in zero-based DTS
&mdio1 {
    status = "okay";
    ethphy1: ethernet-phy@1 {
        compatible = "ethernet-phy-ieee802.3-c22";
        reg = <0>;
    };

};

&mac1 {
    status = "okay";
    pinctrl-names = "default";
    phy-mode = "rgmii";
    phy-handle = <&ethphy1>;
    pinctrl-0 = <&pinctrl_rgmii2_default>;
};


