[Unit]
Description=Configurable State Manager
After=obmc-mapper.target
After=status xyz.openbmc_project.State.BMC.service
After=nsmd.service
After=pldmd.service

[Service]
ExecStart=/usr/bin/configurable-state-manager
Restart=always
Type=dbus
BusName=xyz.openbmc_project.State.ConfigurableStateManager

[Install]
WantedBy=multi-user.target
