[Match]
Name=usb0

[Network]
Address=172.31.13.251/24
DHCP=false
LinkLocalAddressing=false
IPv6AcceptRA=false

[Address]
# static IP
# 192.168.100.1 netmask 255.255.255.0
Address=172.31.13.251/24
