[Unit]
Description=Phosphor Log Manager

[Service]
ExecStart=/usr/bin/phosphor-log-manager /etc/phosphor-logging/conf/phosphor-logging-namespace.json
Nice=10
Restart=always
Type=simple
BusName=xyz.openbmc_project.Logging
TimeoutSec=900

[Install]
WantedBy=multi-user.target