[Unit]
Description=MCTP Nvidia System Management Daemon
After=mctp-usb-ctrl.service
After=xyz.openbmc_project.EntityManager.service
After=xyz.openbmc_project.FruDevice.service

[Service]
Restart=always
Type=dbus
# Delay to ensure the service dependencies are ready
ExecStartPre=/usr/bin/sleep 20

ExecStart=/usr/bin/env nsmd
SyslogIdentifier=nsmd
BusName=xyz.openbmc_project.NSM

[Install]
WantedBy=multi-user.target
