[Unit]
Description=Set NVIDIA BMC FPGA Not Ready target
Requires=nvidia-fpga-notready.target
StartLimitIntervalSec=1

[Service]
Restart=no
Type=simple
ExecStart=/bin/echo "Stopping FPGA Ready Target"
SyslogIdentifier=nvidia-fpga-not-ready-service