[Unit]
Description=Set NVIDIA BMC FPGA Ready target
Requires=nvidia-fpga-ready.target
StartLimitIntervalSec=1

[Service]
Restart=no
Type=simple
ExecStart=/bin/echo "Starting FPGA Ready Target"
SyslogIdentifier=nvidia-fpga-ready-service

