[Unit]
Description=NVIDIA CPLD monitor
#TDB add After Clause
BindsTo=host-poweron@0.service
Requires=io-board-detect.service
After=io-board-detect.service

[Service]
Restart=always
Type=dbus
ExecStart=/usr/bin/env nvidia-cpld-monitor
SyslogIdentifier=nvidia-cpld-monitor
BusName=com.Nvidia.Cpld

[Install]
WantedBy=multi-user.target

