[Unit]
Description=NVIDIA Run Power Status Monitor Service
Requires=bmc-boot-complete.service
Before=phosphor-discover-system-state@0.service
After=mapper-wait@-xyz-openbmc_project-state-chassis0.service
After=mapper-wait@-xyz-openbmc_project-state-host0.service
After=bmc-boot-complete.service
StartLimitIntervalSec=1

[Service]
Restart=always
Type=notify
ExecStart=/usr/bin/env power_status_monitor.sh
ExecStartPost=/bin/sleep 4
ExecStop=/usr/bin/env rm /run/bmc-state/RUN_POWER_PG
SyslogIdentifier=power-status

[Install]
WantedBy=multi-user.target
RequiredBy=phosphor-discover-system-state@0.service
