[Unit]
Description=Bind expanders afer fpga is up

[Service]
Type=simple
ExecStart=/usr/bin/bind_expanders.sh
SyslogIdentifier=bind_expanders

[Install]
WantedBy=nvidia-fpga-ready.target
