[Unit]
Description=MCTP SPI 2 control daemon
PartOf=fpga0-ap-recovery.target

[Service]
Restart=always
Environment=SYSLOG_IDENTIFIER=mctp-spi2-ctrl
ExecStartPre=-/bin/sh -c '/usr/sbin/modprobe /usr/lib/modules/*/kernel/drivers/spi/fmc_spi.ko'
ExecStart=/usr/bin/mctp-spi-ctrl -j 10 -t 6 -m 1 -d 20 -v 0 -f /usr/share/mctp/mctp_cfg_spi2.json
ExecStop=/usr/bin/mctp-vdm-util -c restart_notification -t 100
SyslogIdentifier=mctp-spi2-ctrl

[Install]
WantedBy=fpga0-ap-recovery.target