[Unit]
Description=Set Fan to Default Duty as Booting Up
After=xyz.openbmc_project.fansensor.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/fan-default-speed.sh

[Install]
WantedBy=sysinit.target
