# This rules file is used for dynamic mctp usb multi-bridge when the mctp usb device is added,
# launch the mctp service with individual port numbers.
# Replace '.' with '-' Because AF_UNIX wasn't supported '.' as socket names.
# Remove the interface part (everything including and after the colon)
SUBSYSTEM=="usb", ACTION=="add", \
ATTR{bInterfaceClass}=="14", ATTR{bInterfaceSubClass}=="00", \
PROGRAM="/usr/bin/sh -c 'echo %k | sed -e 's/\\./-/g' -e 's/:.*$//'", \
TAG+="systemd", \
ENV{SYSTEMD_WANTS}="mctp-usb-ctrl@%c.service"

SUBSYSTEM=="net", ACTION=="add", KERNEL=="mctpusb*",NAME="%E{INTERFACE}", PROGRAM="/bin/bash -c 'echo %E{DEVPATH} | sed -E \"s|.*/([^/]+):.*|\\1|\"'", RUN+="/bin/sh -c '/usr/bin/mctp link set $env{INTERFACE} up;  /usr/sbin/ip link property add dev $env{INTERFACE} altname mctpusb%c'"
SUBSYSTEM=="net", ACTION=="add", KERNEL=="mctpspi*",NAME="%E{INTERFACE}", RUN+="/bin/sh -c ' /usr/bin/mctp link set $env{INTERFACE} up'"