[Unit]
Description=NVIDIA Flight Data Recorder
Wants=network.target
After=network.target

[Service]
Environment=PLATFORMS_PATH=/tmp/nvidia-fdr/platforms
LogRateLimitIntervalSec=86400s
LogRateLimitBurst=500

TimeoutStartSec=360
ExecStartPre=/usr/bin/fdr_platforms.sh

ExecReload=kill -s HUP $MAINPID
ExecStart=/usr/bin/nvidia-fdr
Type=simple
Restart=on-failure


StartLimitInterval=1000
StartLimitBurst=3

#WorkingDirectory=/home/root
#StateDirectory=bmcweb

[Install]
WantedBy=network.target
