[Unit]
Description=CPU boot undone service

[Service]
Type=oneshot
ExecStartPre=/bin/sh -c 'control-bios-host-interface.sh boot-undone'
ExecStart=/usr/bin/env /usr/bin/delete-hi-user.sh
ExecStart=busctl set-property xyz.openbmc_project.State.Host /xyz/openbmc_project/state/host0 xyz.openbmc_project.State.OperatingSystem.Status OperatingSystemState s "xyz.openbmc_project.State.OperatingSystem.Status.OSStatus.Inactive"

