[Unit]
Description=EMMC Logging Storage
After=nvidia-emmc-partition.service

[Service]
Type=oneshot
ExecStart=/usr/bin/env emmc-logging.sh /var/emmc/user-logs ext4
#Usage of the emmc-logging.sh <mount_point> <required_filesystem>
RemainAfterExit=yes
[Install]
WantedBy=multi-user.target
